# Ignore node_modules
node_modules/

# Ignore environment variable files
.env
.env.local
.env.*.local
service-key.json
# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build output
dist/
build/
coverage/

# Ignore temporary files
tmp/
temp/

# Ignore IDE-specific files
.vscode/
.idea/
*.swp
*.swo
*.bak
